.container
  .row
    .col-md-12
      %h1.title Let's Grab a Latte

  #pre-submit
    .row
      .col-md-12
        %form
          .form-group
            %label{:for => 'addy1'} Where you are
            %input.form-control{:id => 'addy1', :name => 'addy1', :placeholder => '363 Clementina San Francisco'}
          .form-group
            %label{:for => 'addy2'} Where your friend is
            %input.form-control{:id => 'addy2', :name => 'addy2', :placeholder => '140 2nd St. San Francisco'}
          .form-group
            %button#gocoffee{:class => 'btn .btn-lg'} Latte Time!
            %button#gobeer{:class => 'btn .btn-lg'} Beer Time!

  #post-submit
    .row
      .col-md-6
        #map-canvas
      .col-md-6
        #messages
        %ul#venue-list
    .row
      .col-md-12#again
        %a.button.secondary#again Try again

  .row#footer
    .col-md-12
      = precede 'Made lovingly by S' do
        %sup 2
