.container
  .row
    .col-md-12
      %h1.title Let's Grab a Latte

  #pre-submit
    .row
      .col-md-12
        %label 'Where you are'
        / = text_field_tag 'addy1', nil, :placeholder => '123 Eureka Dr'
        %input{:id => 'addy1', :name => 'addy1', :placeholder => '363 Clementina San Francisco'}
      .col-md-12
        %label 'Where your friend is'
        / = text_field_tag 'addy2', nil, :placeholder => '456 Latte Ave'
        %input{:id => 'addy2', :name => 'addy2', :placeholder => '140 2nd St. San Francisco'}
      .col-md-12
        %button#gocoffee Latte Time!
        %button#gobeer Beer Time!

  #post-submit
    .row
      .col-md-6
        #map-canvas
      .col-md-6
        #messages
        %ul#venue-list
    .row
      .col-md-12#again
        %a.button.secondary#again Try again

  .row#footer
    .col-md-12
      = precede 'Made lovingly by S' do
        %sup 2
